@charset "utf-8";
/* CSS Document */
*{margin:auto;}
.khung{
	width: 960px;
	height:170px;
    border: 1px solid #FFFFFF;
}
nav a{
	padding: 10px;
	text-decoration: none;
	color: black;
	font-weight: bold;
}
nav{
	padding-top: 10px;
	float: left;
}
.anh1{
	width: 960px;
}
.phai{
	float: right;
	padding-top: 10px;
}